# Server
SERVER_PORT=8080

# Eureka
EUREKA_HOST=localhost
EUREKA_PORT=8081

#Services Ports
USER_SERVICE_PORT=8082
INVENTORY_SERVICE_PORT=8083
SALES_SERVICE_PORT=8084
PROCUREMENT_SERVICE_PORT=8085
NOTIFICATION_SERVICE_PORT=8086