# Server
SERVER_PORT=8082

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=user_service_db
DB_USERNAME=postgres
DB_PASSWORD=your_password

# Eureka
EUREKA_HOST=localhost
EUREKA_PORT=8081

#JWT
JWT_SECRET=YOUR_BASE64_SECRET_KEY or run : node -e "console.log(require('crypto').randomBytes(64).toString('base64'))"
JWT_EXPIRATION=86400000